.jumbotron{
    background-image: url("../images/house.jpg");
    background-size: 100% 100%;
    text-align:center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px;
  }
  .one {
    grid-column: 1;
    grid-row: 1/6;
    background-color: rgb(76, 25, 25);
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: rgb(212, 208, 196);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .three {
    grid-column: 4/7;
    grid-row: 1 / 3;
    background-color: rgb(212, 208, 196);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .four {
    grid-column: 2/5;
    grid-row: 3/6;
    background-color: rgb(212, 208, 196);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .five {
    grid-column: 5/7;
    grid-row: 3/6;
    background-color: rgb(212, 208, 196);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
  }